/* body {background-color: black;} */


header {position:fixed; z-index:10; 
		display:flex;  width:100%;  height: 50px;  border:1px dotted blue; align-items:center; justify-content:space-between;}

#rightlink{display:flex;  align-items:center; margin-left:55px;}

#logo {display:flex;}
#Category {display:flex;}

#logo a{ font-weight:bold; font-size:300%;  color:red; text-decoration-line:none; }
#Category a { font-weight: bold ; font-size:200%; color:white; text-decoration-line:none;}



#search { display:flex; margin-right:55px;}
#search input {line-height: 30px;}
#search a img{padding: 0px; line-height: 65px; background-color: white;}

#dbg {background-color:white; display:flex;}


.mypage { border:1px solid white; background-color:white; color:white; 
	display:flex; flex-direction: column; position: relative;}

.profileclick { display:none;  background-color:skyblue;  z-index:10;
		position: absolute;  top: 300px;  width: 300px; border:1px solid black;}
.profileclick a{ font-weight: bold ; text-decoration-line:none; color:black; font-size: 50%;}		
