.container{
    width: 300px;
    height: 150px;
    border: 1px solid black;
}
.box{
    background-color: blue;
    width: 50px;
    height: 50px;
    margin: 2px;   
}
.container{

    display: flex;
}
#container1{

    justify-content: center;
}
#container2{

    justify-content:flex-end;
    /* jistify-content: flex-first; */
}
#container3{

    justify-content: space-between;
}
#container4{
    
    justify-content: space-around;

}