.container{
    display: flex;
    justify-content: center;

}
.child{
    background-color: yellowgreen;
    
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 200px;
    flex:1;
    margin:5px;
    font-size: 3em;


}

    /* 
    최소 사이트 : 576px 이하
    모바일 : 576 ~ 768
    태블릿 : 768 ~ 1024
    데스크탑 : 1024 ~ 
    */

    /* 최소크기가 1024px, 디바이스의 가로크기가 1024px 이상. */
@media ( min-width:1024px ){
    body{
            background-color: coral;
    }

}

@media ( min-width:768px ) and ( max-width:1023px ){
    body{
        background-color: pink;
    }
    .container{
        flex-wrap: wrap;
    }
    .child{
        
        flex-basis : 300px;
    }
}

/* 디바이스 가로 크기가 768px 이하일때 */
@media ( max-width:768px ){
    body{
        background-color: yellow;
    }
    .container{
        flex-direction: column;
        
    }
}