.container{
    width:100vw;
    height:300px;
    border: 1px solid red;
    display: flex;
    /* align-items: flex-start; */
}
.box{
    
    height: 100px;
    border: 1px solid black;
    font-size: 130%;
    font-weight: bold;
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .box:nth-child(1){align-self:flex-start;}
.box:nth-child(2){align-self:center;}
.box:nth-child(3){align-self:flex-end;} */

#a{align-self:flex-start;}
#b{align-self:center;}
#c{align-self:flex-end;}