@charset "UTF-8";

form {display:flex; justify-content:center;}

#container {display:flex; width:94%; height:700px; border:1px solid white; justify-content:space-between; align-items:center;}

#containerA { display:flex; flex-direction:column; justify-content: space-around; border:1px solid white;  width:900px; height:700px;}

#title {width:400px; height:150px; border:1px solid white; 
			color:white; font-size:350%;  font-weight:bold; text-align:center; line-height:150px;}
#tag {width:400px; height:50px; border:1px solid white; 
			color:white; font-size:25px; font-weight:bold; text-align:center;  line-height:50px;}

#linkicon {width:600px; height:150px; border:1px solid white; 
				margin-left:80px; display:flex; justify-content: space-around; align-items:center;}
.a {border:1px solid white;}
#b{width:300px; height:130px; background-color:white; 
		text-align:center; line-height:120px; font-size:200%; font-weight:bold; border-radius:25px;}
#b a{ text-decoration-line:none; color:black;}		
		
#c{width:75px; height:130px; background-color:white; display:flex; flex-direction:column; text-align:center; font-size:150%; font-weight:bold;}
#d{width:75px; height:130px; background-color:white; display:flex; flex-direction:column; text-align:center; font-size:150%; font-weight:bold;}

#content{width:400px; height:150px; border:1px solid white; color:white; font-weight:bold;}



#containerB {display:flex; flex-direction:column; border:1px solid white; width:300px; height:400px; margin-right:150px;}
#containerB img{ width:300px; height:400px;}



